<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	rel="stylesheet" />
</head>
<body th:fragment="filter(materias)">
	<div class="container" >
		<div class="row">
			<div id="filter-panel" class=" filter-panel">
				<div class="panel panel-default">
					<div class="panel-body form-inline">
						<div class="form-group">
								<label class="filter-col" style="margin-right: 0;"
									for="pref-perpage">Matéria:</label> 
								<select class="form-control" name="materia" id="selectMateria">
									<option value="any">Todas</option>
									<th:block th:each="materia : ${materias}">
				 						<option th:text="${materia.nome}"></option>
				 					</th:block>
								</select>
						</div>
						<div class="form-group">
							<label class="filter-col" style="margin-right: 0;">Dificuldade:</label>
							<select name="dificuldade" class="form-control" id="selectDificuldade" >
								<option selected="selected" value="any">Qualquer</option>
								<option value="FACIL">Fácil</option>
								<option value="MEDIO">Médio</option>
								<option value="DIFICIL">Difícil</option>
							</select>
						</div>
						<div class="form-group">
							<button class="btn btn-primary filter-col" id="btFilter">
								<span class="glyphicon glyphicon-record"></span> Aplicar filtro
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>