<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	rel="stylesheet" />
</head>
<body th:fragment="modalQuestao">
	<div class="modal hide fade" id="modalQuestao" tabindex="-1"  role="dialog" aria-labelledby="modalLabel">
	 <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalLabel"></h4>
			</div>
			
			<div class="modal-body">
		        <p id="modalDescricao"></p>
		        <h4 id="modalUsadaEm"></h4>
		        <h4 id="modalProcessoSeletivo"></h4>
		        <img id="modalQuestaoImg" alt="questao" src="img/semImagem.png"></img>
		    </div>
			
			<div class="modal-footer">
				<input type="hidden" id="modalUtilizar" name="id"/> 
				<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="utilizarQuestao()">Utilizar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
			</div>
		</div>
	</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>