<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/styles.css"></link>
<title>Progest</title>
</head>
<body>
	<h1>Listagem de Questões</h1>
	
	<div lang="pt" th:include="fragments/filter :: filter(${materias})"></div>
	<div lang="pt" th:include="fragments/modalQuestao :: modalQuestao"></div>
	
	
	 <table class="table table-hover table-bordered">
        <thead>
        	<tr>
		        <th>Matéria</th>
		        <th>Descricao</th>
		        <th>Dificuldade</th>
		        <th>Utilizada</th>
        	</tr>
        </thead>
        <tbody  id="tableQuestoes">
	         <th:block th:each="questao : ${questoes}">
	         		<tr th:attr="onclick = ${ 'buildModal(' + questao.id + ')' }" th:id="line + ${questao.id}">
	         			<td th:text="${questao.materia.nome}"></td>
						<td th:text="${questao.descricao}"></td>
						<td th:text="${questao.dificuldade}"></td>
						<td th:text="${questao.usadaEm}"></td>
	         		</tr>
			</th:block>
        </tbody>
     </table>

	<div lang="pt" th:include="fragments/footer :: footer"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script src="js/dateHelper.js"></script>
	<script src="js/questoesList.js"></script>
</body>
</html>